{%extends "userena/base_userena.html"%}
{% load i18n %}
{% load bootstrap_toolkit %}

{%block userena%}
        <div class="msgbox">
            <h1 class="centred-text">{% trans "Gears: Reset password" %} </h1>
            <hr>
            <form action="" method="post">
            	{% csrf_token %}
                <div class="msgbox-centre">
                    {{form|as_bootstrap}}
                </div>
                <div class ="actions centred-text">
                    <input type="submit" class="btn btn-primary btn-large" value="{% trans "Send password"%}"/>
                </div>
            </form>
        </div>
{%endblock%}    