{%extends "userena/base_userena.html"%}
{% load i18n %}
{% load bootstrap_toolkit %}
{%block userena%}
	    <div class="msgbox">
            <h1 class="centred-text" >{% trans "Gears: Create Account"%}</h1>
            <hr>
            <form action="" method="post">
            	{% csrf_token %}
                <div class="msgbox-centre">
                    {{form|as_bootstrap}}
                </div>
                <div class ="actions centred-text">
                    <input type="hidden" name="next" value="/"/>
                    <input type="submit" class="btn btn-primary btn-large" value="{% trans "Signup"%}"/>
                </div>
                <hr>
            </form>
        </div>
{%endblock%}    