/*
  FlexyGearsCSS文件
  对bootstrap进行修订
*/

/*
定义Body的CSS
*/
body{
  position: relative;
  padding-top: 90px;
  background-color: #fff;
  background-image: url( ../img/grid-18px-masked.png );
  background-repeat: repeat-x;
  background-position: 0 40px;
}
/*
  居中显示的MessageBox
  实现在指定Container中的居中显示信息。
*/
.msgbox {
  width: 320px;
  margin: 7em auto;
}

.centred-text{
  text-align: center;
}

.msgbox-centre{
  width: 220px;
  /*margin-left: 50px;*/
  margin: 0 auto;
  text-align: left;
}